body {
    margin: 50px 0% 0 0%;
    font-size: 22px;
}
.content {
    align-self: center;
    border: 2px solid #ffffff;
    border-radius: 3px;
    text-align: center;
}
.content form {
    margin-block-start: 5px;
    margin-block-end: 5px;
}
.top {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #8b91c7;
}
.top h2 {
    color: rgb(0, 0, 0);
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    border-bottom: 2px solid #ffffff;
}
.content table {
    width: 100%;
}
.content th {
    padding-left: 1%;
    padding-right: 1%;
    font-size: 18px;
}
.content .showAgent tr:nth-child(even) {
    background-color: #8b91c7;
}

.content button {
    color: #ffffff;
    background-color: #45475f;
    border: 2px solid #8b91c7;
    border-radius: 3px;
    font-size: 18px;
    margin: 5px;
}
.content button:hover {
    background: #7b7c8d;
}

.content button:focus {
    border: 2px solid #7377a3;
    outline: none;
}

.content fieldset {
    border-color: #c4c7e3;
    border-radius: 3px;
    padding: 5px;
}

.content input:focus {
    border-color: #7377a3;
    outline: none;
}

.content p {
    padding: 5px;
    margin: 1%;
}

span.error {
    color: #bf0808;
}
